{% extends 'base.html' %}
{% load static tailwind_tags %}
{% load static %}


{% block contents %}
   
   <div class="">

        <img class="w-full h-full backdrop:brightness-50 " src="{% static 'images/work_station.jpg' %}" alt="torbita_logo">
        
        <div class="absolute bottom-0 left-[30%] pb-0 text-center">
            <div class="mr-36">
            <h3 class="font-bold text-black">
                CUTTING EDGES SERVICES DELIVERY
            </h3>
            <P class="text-black font-semibold">
                we listen closely to our client's needs and deliver bespoke solutions with an edge.sharp innovative
                and reliable are core pillars of our company and these qualities run right through our diverse and
                expert team.
            </P>
           <button class="ring-2 ring-white text-white p-2 mt-6 font-semibold">See Portfolio</button>
          </div>
        </div>

    </div>

    <div  class="text-center mt-5">
        <h3 class="font-bold text-black/20">WHAT WE DO</h3>
        <h1 class="text-2xl font-bold">We Are A Full IT Services<br>Company.</h1>
    </div>

    <article class="pl-[auto] text-center mt-5 mb-5 font-sm">
        <strong>TORBITA GLOBAL SERVICES AND INFOTECH SYSTEMS LIMITED
         (RC: 1289859) is</strong><br> an <strong>ICT Consulting Services, Computer 
         Education</strong> and <strong>Human Capacity <br> Development,Web Design, 
         Web Development, Mobile App</strong> and <strong>Software<br>Development</strong>
         Company based in Abuja, Nigeria.
    </article>

    <div class="text-center pl-auto">
      <p>We have over 9 <strong>years</strong> of experience in mobile application<br>Development,
         website Design and Development, Computer<br>Education, Human Capacity 
         Development and ICT Consulting<br>Services. We also have years of experience 
         working with<br> Government and Private Institutions.
        </p>
    </div>

    <div class="block md:flex mt-20 gap-4 justify-center">
        <div class="bg-blue-400 w-[30%] h-[40%] mb-10 p-5">
            <h3 class="font-semibold">WEBSITE DESIGN</h3>
            <p>Using the latest technology, we design websites encompassing several
               different aspects, including webpage layout, content production…
            </p>
            <h4>LEARN MORE</h4>
        </div>

        <div class="bg-slate-300 w-[30%] h-[40%] p-5">
            <h3 class="font-semibold">WEB DEVELOPMENT</h3>
            <p>We render comprehensive web development services such as web 
             engineering, web content development, e-commerce development…
            </p>
            <h4>LEARN MORE</h4>
        </div>
    </div>


    <div class="bg-orange-400  w-[30%] h-[40%] p-5 ml-[21%] ">
        <h3 class="font-semibold">MOBILE APP DEV</h3>
        <p>We develop mobile applications for mobile devices such
           as personal digital assistants, enterprise digital assistants or mobile phones…
        </p>
    </div>

   


    <div class="mt-5 bg-slate-100 p-1">
        <div class="mt-5 text-center mb-2">
            <h4 class="text-slate-500/30 font-semibold">PORTFOLIO</h4>
            <h2 class="text-2xl font-bold">Some of Our Past Projects</h2>
        </div>

        <div class=" mt-3 flex gap-1 justify-center">
            <div class="bg-slate-100 p-2">All</div>
            <div class="bg-slate-100 p-2">eCommerse</div>
            <div class="bg-slate-100 p-2">Graphics</div>
            <div class="bg-slate-100 p-2">MobileApp</div>
            <div class="bg-slate-100 p-2">Website Design</div>
            <div class="bg-slate-100 p-2">Wordpress</div>
        </div>
        
        <div class="mt-8 flex justify-center gap-5 ml-5 mr-5 mb-5">
            <div>
                <img class="" src="{% static 'images/queen_bliss.jpg' %}" alt="torbita_logo" width="150" height="150" >
                <h4 class="text-orange-400 text-center text-xm font-normal">Queen Bliss Messenger</h4>
            </div>
            <div>
                <img class="" src="{% static 'images/sweet_mama.jpg' %}" alt="torbita_logo" width="150" height="150" >
                <h4 class="text-orange-400 text-center text-xm font-normal">Sweet Mama</h4>
            </div>
            <div>
                <img class="" src="{% static 'images/rhema.jpg' %}" alt="torbita_logo" width="150" height="150">
                <h4 class="text-orange-400 text-center text-xm font-normal">Rheme World</h4>
            </div>
            <div>
                <img class="" src="{% static 'images/elderly.jpg' %}" alt="torbita_logo" width="150" height="150">
                <h4 class="text-orange-400 text-center text-xm font-normal">SGA Africa</h4>
            </div>
            
        </div>

        <div class="mt-5 flex justify-center gap-5 ml-5 mr-5 mb-5">
            <div>
                <img class="" src="{% static 'images/education.jpg' %}" alt="torbita_logo" width="150" height="150" >
                <h4 class="text-orange-400 text-center text-xm font-normal">Possible learning Citadel</h4>
            </div>
            <div>
                <img class="" src="{% static 'images/library.jpg' %}" alt="torbita_logo" width="150" height="150" >
                <h4 class="text-orange-400 text-center text-xm font-normal">Rubble Change</h4>
            </div>
            <div>
                <img class="" src="{% static 'images/turky.jpg' %}" alt="torbita_logo" width="150" height="150">
                <h4 class="text-orange-400 text-center text-xm font-normal">SPF Nigeria</h4>
            </div>
            <div>
                <img class="" src="{% static 'images/ayis_academy.jpg' %}" alt="torbita_logo" width="150" height="150">
                <h4 class="text-orange-400 text-center text-xm font-normal">Ayis Academy</h4>
            </div>
        </div>
        <p class="bg-white text-center w-[10%] pt-1 pb-1 font-semibold text-xs text-blue-950 m-auto p-5 mb-5">All Projects</p>
            
        </div>
    </div>

    <div class="mt-5 md:flex bg-slate-200 justify-center space-x-5 p-5">
        <div class="bg-slate-200 p-5">
            <h4 class="text-slate-800/20 font-bold">BLOG</h4>
            <h2 class="text-2xl text-black font-semibold">As IT professionals, we know <br>the value of up-to-date <br>information</h2>
            <p>Here you get the latest information and happenings in and around the 
               Information Technology (IT) <br>ecosystem.
            </p>
        </div>
        <div class="bg-blue-950 p-5">
            <h4>Ten Things You Should Avoid Saying To Your Wife</h4>
            <p class="text-orange-400">By Torbita LTD | september 16, 19| family relationship | 0 comment</p>
        </div>
    </div>

    <div class="bg-slate-100 pb-5">
        
    <div class="md:flex space-x-5 p-5">
        <div class="text-center bg-b shadow-xl p-5">
            <p>“My pleasure, you did an excellent job and besides one<br> good turn deserves another. Thanks.”</p>
            <h5>Dreamtakers Foundation</h5>
            <p>Client</p>
        </div>

        <div class="bg-slate-100 p-5">
            <h5>HAPPY CLIENTS</h5>
            <h5 class="font-semibold">Delivery cutting edge IT services is our mission.</h5>
            <p></p>
        </div>

    </div>

    <div class="md:flex space-x-5 mb-5 p-5">
        <div class="text-center bg-white shadow-xl p-5 w-[100%] h-[100%]">
            <p>
                “Your services are superb and and very interesting, I will like to recommend the Company
                for more training in our Organization and those of my friends too. Keep up the good work”
            </p>
            <h5>Grace</h5>
            <p>Client</p>
        </div>

        <div class="bg-white p-5 shadow-xl text-center">
            <p>
                “The services of Torbita Limited is excellent and the delivery is impeccable. 
                They also have good customer relation.”
            </p>
            <h5>Grace</h5>
            <p>Client</p>
        </div>

    </div>


</div>
        
        {% endblock contents %}